<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.modules.app.followup.mapper.AppTemplateMapper">
    <select id="getPage" resultType="com.hutu.modules.common.entity.Template">
        SELECT
        id,
        `name`,
        formTypeShow,
        scope,
        scopeShow
        FROM
        t_form_template
        WHERE
        isDeleted = 0
        <if test="name!=null and name!=''">
            and name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and type = #{type}
        </if>
        <if test="formType!=null and formType!=''">
            and formType = #{formType}
        </if>
        AND (
        scope = 2
        <if test="userId!=null and userId!=''">
            OR (scope = 0 AND currentOwnerId = #{userId})
        </if>
        )
        ORDER BY
        scope,
        createTime DESC
    </select>

    <select id="getList" resultType="com.hutu.modules.common.entity.Template">
        SELECT
        id
        ,name
        ,templateNumber
        ,type
        ,typeShow
        ,formType
        ,formTypeShow
        ,status
        ,htmlContent
        ,autherId
        ,autherName
        ,currentOwnerId
        ,currentOwnerName
        ,verifyId
        ,verifyName
        ,verifyTime
        ,verifyStatus
        ,scope
        ,scopeShow
        ,isScore
        ,analysisResult
        ,createName
        ,createId
        ,createTime
        ,updateName
        ,updateId
        ,updateTime
        ,isDeleted
        FROM
        t_form_template
        WHERE isDeleted = 0
        <if test="date.id!=null">
            and id = #{date.id}
        </if>
        <if test="date.name!=null and date.name!=''">
            and name like CONCAT('%',#{date.name},'%')
        </if>
        <if test="date.templateNumber!=null and date.templateNumber!=''">
            and templateNumber like CONCAT('%',#{date.templateNumber},'%')
        </if>
        <if test="date.type!=null">
            and type = #{date.type}
        </if>
        <if test="date.typeShow!=null and date.typeShow!=''">
            and typeShow like CONCAT('%',#{date.typeShow},'%')
        </if>
        <if test="date.formType!=null">
            and formType = #{date.formType}
        </if>
        <if test="date.formTypeShow!=null and date.formTypeShow!=''">
            and formTypeShow like CONCAT('%',#{date.formTypeShow},'%')
        </if>
        <if test="date.status!=null">
            and status = #{date.status}
        </if>
        <if test="date.htmlContent!=null and date.htmlContent!=''">
            and htmlContent like CONCAT('%',#{date.htmlContent},'%')
        </if>
        <if test="date.autherId!=null">
            and autherId = #{date.autherId}
        </if>
        <if test="date.autherName!=null and date.autherName!=''">
            and autherName like CONCAT('%',#{date.autherName},'%')
        </if>
        <if test="date.currentOwnerId!=null">
            and currentOwnerId = #{date.currentOwnerId}
        </if>
        <if test="date.currentOwnerName!=null and date.currentOwnerName!=''">
            and currentOwnerName like CONCAT('%',#{date.currentOwnerName},'%')
        </if>
        <if test="date.verifyId!=null">
            and verifyId = #{date.verifyId}
        </if>
        <if test="date.verifyName!=null and date.verifyName!=''">
            and verifyName like CONCAT('%',#{date.verifyName},'%')
        </if>
        <if test="date.verifyStatus!=null">
            and verifyStatus = #{date.verifyStatus}
        </if>
        <if test="date.scope!=null">
            and scope = #{date.scope}
        </if>
        <if test="date.scopeShow!=null and date.scopeShow!=''">
            and scopeShow like CONCAT('%',#{date.scopeShow},'%')
        </if>
        <if test="date.isScore!=null">
            and isScore = #{date.isScore}
        </if>
        <if test="date.analysisResult!=null and date.analysisResult!=''">
            and analysisResult like CONCAT('%',#{date.analysisResult},'%')
        </if>
        <if test="date.createName!=null and date.createName!=''">
            and createName like CONCAT('%',#{date.createName},'%')
        </if>
        <if test="date.createId!=null">
            and createId = #{date.createId}
        </if>
        <if test="date.updateName!=null and date.updateName!=''">
            and updateName like CONCAT('%',#{date.updateName},'%')
        </if>
        <if test="date.updateId!=null">
            and updateId = #{date.updateId}
        </if>
        <if test="date.isDeleted!=null">
            and isDeleted = #{date.isDeleted}
        </if>
    </select>
</mapper>
